body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
}

.small-section {
  max-width: 1100px;
  width: 90vw;
  margin: auto;
  margin-top: 12.5rem;
}

.large-section {
  max-width: 1320px;
  width: 100%;
  margin: auto;
  margin-top: 12.5rem;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #292e47;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  color: red;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  color: #292e47;
  margin-bottom: 70px;
}

/* TEXT STYLES  */
.body-intro-med {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

.body-intro-reg {
  font-size: 20px;
  font-weight: 400;
  color: #6b708d;
}

.headline-reg {
  font-size: 17px;
  font-weight: 400;
  color: #6b708d;
}

.headline-med {
  font-size: 17px;
  font-weight: 500;
  color: #6b708d;
}

.caption1-reg {
  font-size: 15px;
  font-weight: 400;
}

.caption2-reg {
  font-size: 13px;
  font-weight: 400;
}

.dark {
  color: #292e47;
}
.gray {
  color: #6b708d;
}

/* HAMBURGUER MENU */
/* .hamburger-menu-all {
  display: none;
} */
.hamburguer {
  position: fixed;
  z-index: 100;
  top: 0.7rem;
  right: 1rem;
  padding: 4px;
  border: none;
  background-color: #f2f4fc;
  cursor: pointer;
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  height: 185px;
  transition: transform 0.2s;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #c8c8c8;
  color: #6b708d;
  list-style: none;
  display: none;
}

.show-menu {
  transform: translateY(0);
}

.menu > li {
  height: 30px;
  padding-top: 15px;
}

/* NAV SECTION  */
.navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: 7rem 7rem 7rem;
  grid-template-rows: 2rem;
  justify-items: center;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
}

/* SECTION 1 HEADER STYLES */
.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-left {
  max-width: 530px;
}
.text-left p {
  max-width: 435px;
}

.both-buttons {
  text-decoration: none;
  margin-top: 4rem;
}
.blue-button {
  color: #fff;
  padding: 1rem 1.5rem;
  background-color: #072ac8;
  margin-left: 1.5rem;
  text-decoration: none;
}
.images-right {
  max-width: 530px;
}
.img-man {
  width: 40vw;
}
.container-float-cards {
  position: relative;
}
.float-cards {
  position: absolute;
  max-width: 18rem;
  width: 20vw;
}
#card1 {
  top: -1rem;
  left: -4rem;
}
#card2 {
  right: -7vw;
  bottom: -7rem;
}

/* SECTION 2 BRANDS */
.brands2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-logos {
  margin: 0;
  filter: grayscale(1);
  max-width: 120px;
  width: 20vw;
}

.brand-logos:hover {
  filter: grayscale(0);
  transition: all 400ms ease;
}

/* SECTION 3 RECENT PROJECTS */

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
  margin: auto;
}

.project-card {
  background-color: white;
  box-shadow: 2px 2px 20px rgb(236, 234, 234);
  height: 410px;
  padding-bottom: 25px;
  position: relative;
}

.project-card > img {
  width: 30vw;
  max-width: 340px;
  height: 450px;
  object-fit: cover;
}

.card-image img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.card-text {
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: #072ac8;
  font-weight: 500;
  position: absolute;
  bottom: 30px;
}

/* SECTION 4 CLIENTS */

.clients4 {
  background-color: #292e47;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 650px;
  position: relative;
  background-image: url(/images/orbit_BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#emoji1 {
  position: absolute;
  width: 150px;
  left: 120px;
  top: 60px;
}

#emoji2 {
  position: absolute;
  width: 150px;
  right: 120px;
  top: 60px;
}

#emoji3 {
  position: absolute;
  width: 150px;
  left: 120px;
  bottom: 60px;
}

#emoji4 {
  position: absolute;
  width: 150px;
  right: 120px;
  bottom: 60px;
}

.clients4 h3 {
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: center;
  width: 55vw;
}

.clients4 > p {
  color: #ffc600;
  width: 47vw;
  text-align: center;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client img {
  width: 50px;
  height: 50px;
}

.client-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.kristin-name {
  color: #d1edff;
  margin: 0px;
}

.booking-name {
  color: white;
  margin: 1.5px;
}

/* SECTION 5 SERVICES */
/* links & container styling are set in SECTION 4 */
/* titles margins are set in TEXT STYLES SECTION */
.services-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
  margin: auto;
}

.services-card {
  background-color: white;
  box-shadow: 2px 2px 20px rgb(236, 234, 234);
  height: 350px;
  padding-bottom: 25px;
  padding-top: 40px;
  position: relative;
}

.services-card-image img {
  width: 90px;
  padding-left: 30px;
}

/* SECTION 6 SUBSCRIPTION FORM */

.form6 {
  background-color: #ffc600;
  height: 500px;
}

.form-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.form-inner > h3 {
  margin-top: 0;
}

.form-inner > p {
  margin: 0;
}

.big-form {
  height: 4rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form {
  width: 75%;
}

.form-container {
  height: 100%;
  width: 100%;
}

.form-container > span {
  position: absolute;
}

.mail-icon {
  padding-left: 1.5rem;
  padding-top: 20px;
}

.mail-line {
  height: 100%;
  width: 95%;
  border: none;
  /* padding-left: 4rem; */
  text-indent: 60px;
}

.button-submit {
  height: 100%;
  width: 20%;
  border: #072ac8 solid 1px;
  margin-left: 0;
}

/* FOOTER */
.footer {
  height: 150px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.adress {
  max-width: 260px;
}
.adress > img {
  height: 2rem;
}
.footer-menu {
  max-width: 435px;
  display: grid;
  grid-template-columns: 7rem 7rem 7rem;
  grid-template-rows: 4rem 4rem;
}
.footer-menu a {
  text-decoration: none;
  color: #072ac8;
}

/* ARTICLE SECTION */
.article-section {
  margin-top: 6rem;
}

.title-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.date-container {
  width: 17rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.image-article {
  width: 100%;
  height: 444px;
  background-image: url("../images/project1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-article {
  margin-top: 6rem;
  font-size: 20px;
}

/* CONTACT PAGE */

.mainform {
  margin-top: 200px;
}

.mainform h1 {
  margin-bottom: 80px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.phone-email-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/* .mainform input {
  font-size: 14px;
  color: #333333;
} */

/* MEDIA QUERIES MOVILE */

@media all and (max-width: 767px) {
  /* general */
  h3 {
    text-align: center;
  }

  /* HAMBURGER */
  /* .hamburguer-menu-all {
    display: block;
  } */

  .hamburguer {
    display: block;
  }

  #cross {
    display: none;
  }

  .menu {
    display: none;
  }

  /* NAV */
  .navegation {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  .nav-menu {
    display: none;
  }
  .contact {
    display: none;
  }
  /* section 1 header */

  .header1 {
    flex-direction: column;
  }
  .header1 h1 {
    font-size: 30px;
    text-align: center;
  }
  .text-left p {
    text-align: center;
    margin-right: 0;
  }
  .both-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }

  .float-cards {
    display: none;
  }
  .img-man {
    width: 85vw;
  }

  /* section 2 brands2 */
  .brands2 {
    flex-wrap: wrap;
  }
  .brand-logos {
    margin: 2.5rem;
  }

  .amazon {
    display: none;
  }

  /* section 3 RECENT PROJECTS */
  .cards-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  /* section 4 CLIENTS */
  .clients4 {
    height: 450px;
  }

  .clients4 h3 {
    font-size: 35px;
    width: 60vw;
  }

  .clients4 > p {
    width: 70vw;
  }

  #emoji1,
  #emoji2,
  #emoji3,
  #emoji4 {
    display: none;
  }

  /* section 5 SERVICES */
  .services-cards-container {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
  }

  /* SECTION 6 SUSCRIPTION */
  .form6 {
    height: 500px;
  }
  .big-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;
    height: 150px;
  }

  .mail-line {
    height: 4rem;
    width: 100%;
  }

  .button-submit {
    width: 100%;
    height: 90px;
  }

  /* FOOTER */
  .footer {
    flex-direction: column;
    height: 300px;
    align-items: center;
  }

  .adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .adress > p {
    text-align: center;
  }

  /* ARTICLE PAGE  */
  .title-article {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Test with fucking icon inside the damn input */
}
