body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
}

.small-section {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.large-section {
  max-width: 1320px;
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #292e47;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h3 {
  font-size: 50px;
  font-weight: 700;
}

/* TEXT STYLES  */
.body-intro-med {
  font-size: 24px;
  font-weight: 500;
}

.body-intro-reg {
  font-size: 20px;
  font-weight: 400;
  color: #6b708d;
}

.headline-reg {
  font-size: 17px;
  font-weight: 400;
}

.headline-med {
  font-size: 17px;
  font-weight: 500;
  color: #6b708d;
}

.caption1-reg {
  font-size: 15px;
  font-weight: 400;
}

.caption2-reg {
  font-size: 13px;
  font-weight: 400;
}

/* SECTION 1 HEADER STYLES */
.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-left {
  max-width: 530px;
}
.text-left p {
  width: 435px;
}

.both-buttons {
  text-decoration: none;
  margin-top: 4rem;
}
.blue-button {
  color: #fff;
  padding: 1rem 1.5rem;
  background-color: #072ac8;
  margin-left: 1.5rem;
}
.images-right {
  max-width: 530px;
}
.images-right > img {
  width: 560px;
}
.container-float-cards {
  position: relative;
}
.float-cards {
  position: absolute;
}
/* #card1 {
}
#card2 {
} */

/* SECTION 2 BRANDS */
.brands2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 200px;
}

/* SECTION 3 RECENT PROJECTS */
.card {
  background-color: white;
}

/* SECTION 6 SUBSCRIPTION FORM */

.form6 {
  background-color: #ffc600;
  margin: auto;
  height: 500px;
}

.form-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* FOOTER */
.footer {
  height: 150px;
}
